@import "tailwindcss";
body * {
    border: solid 1px black;
}
a {
    color: blue;
    text-decoration: underline;
}

body {
   background-color: antiquewhite;
   margin: 0;
   padding: 0;
   font-family:Georgia, 'Times New Roman', Times, serif;

}  
.basic {
    /* text-align:left; */
    margin: 20px;
    height: fit-content;
    width: fit-content;

}
.head {
   
    align-items: center;
    justify-content: center;
    display: flex;
    height: 80px;
    background-color: rgb(132, 132, 210);
    background-color: rgb(7, 83, 30);
    margin: 0;
    
    color: #bdbdbd;
}
.main {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    height: 100%;

}
#tutorials {
    display: grid;
    grid-column: 1 / span 1;
}
#homework {
    display: grid;
    grid-column: 2 / span 1;
}

