
* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
a {
    color: blue;
    text-decoration: underline;
}

body {
    background: linear-gradient(to right, rgb(244, 99, 99), rgba(0, 204, 255, 0.8));

   margin: 0;
   padding: 0;
} 

h1 {
    height: fit-content;
    border-radius: 10%;
    margin: 10px;
    padding: 10px;
    text-align: center;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
}

h2 {
    height: fit-content;
    border-radius: 10%;
    margin: 5px;
    padding: 2px;
    text-align: center;
}
header {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: x-large;
    height: 80px;
    margin: 10px;

    /* color: #2f2f2f; */
}
main {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    
    font-size: large;
    
    padding: 20px;
    margin: 10px;
    border-radius: 5%;
}
#tutorials {
    display: grid;
    grid-column: 1 / 2;
    
    padding: 10px;
    margin: 5px;
    border-radius: 5%;
    
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
}

#homework {
    display: grid;
    grid-column: 2 / 3;
    padding: 10px;
    margin: 5px;
    border-radius: 5%;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
}
#quizzes {
    display: grid;
    grid-column: 3 / 4;
    padding: 10px;
    margin: 5px;
    border-radius: 5%;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
}
#gh {
    display: grid;
    grid-column: 4 / 4;
    padding: 10px;
    margin: 5px;
    border-radius: 5%;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
}


