
/* Begin Debugging Code */
/* header,
main,
main section,
nav,
.logo {
    border: solid 2px #CCC;
    padding: 10px;
    margin: 10px;
} */

.logo {
    font-size: 1em;
    font-weight: normal;
}

/* aside,
body>header,
main,
.news-feed {
    border: solid 4px #000;
    padding: 10px;
    margin: 10px;
    font-family: monospace; 
}*/

/* End Debugging Code */

body * {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: #F4F4F4;
    font-family: Arial, Helvetica, sans-serif;
    .news-feed {
        .post-feed {
            .post {
                margin-bottom: 50px;
            }
        }
    }
}

/* Begin Debugging Code */
/* header,
main,
main section,
nav,
.logo {
    border: solid 2px #CCC;
    padding: 10px;
    margin: 10px;
} */



/* aside,
body>header,
main,
.news-feed {
    border: solid 4px #000;
    padding: 10px;
    margin: 10px;
    font-family: monospace;
} */

/* End Debugging Code */

.comfortaa {
    font-family: "Comfortaa", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

header {
    font-family: "Comfortaa";
}

.top-nav {
    position: sticky;
    top: 0;
    left: 0;
    background-color: white;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 0;
    padding-bottom: 0;
}
.logo {
    font-size: x-large;
    font-weight: bold;
}
.profile {
    margin: 10px;
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: xx-large;
}
.profile-photo {
    border-radius: 50%;
    object-fit: cover;
}

.navigation-links {
    list-style: none;
    display: flex;
    gap: 15px;

}
.nav-username {
  
    font-size: large;
}
.nav-sign-out {
    font-size: large;

}

.post-foot, .add-comment, .time-passed, .comments, .post-desc,  .post-head, .post-interactions,  .likes, .caption {
    padding: 5px;
    /* border: solid 1px black; */
}
.post-feed {
    gap:20px;
    
    
}
.post {
    min-height: 300px;
    margin-bottom: 50;
    background-color: white;
    border: solid 1px rgb(192, 192, 192);

}
.post-head {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.post-photo {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
.post-interactions {
    display: flex;
    justify-content:left;
    align-items: center;
    justify-content: space-between;

}
.bookmark {
    padding-right: 5px;
}
.post-icons {
    padding: 5px;
}
.likes {
    padding: 5px;
    display: inline-block;
    font-weight: bold;
    font-size: large;
    h1 {
        font-weight: bold; 
    }
    padding-left: 8px;
}
.caption {
    padding-left: 8px;
    display: flex;
    align-content: center;
    padding-bottom: 0;

    gap: 5px;
    font-size: small;
    padding-bottom: 0;
}
.caption-user {
    font-weight: bold;
}
.caption p {
    margin: 0;
    font-size: inherit;
}
a {
    text-decoration: none;
    color:rgb(32, 103, 147);
}

h1 {
    margin: 0;
    font-weight: normal ;

}
p {
    margin: 0; 
}
.comments {
    margin: 0;
    gap:10px;
    padding: 5px;
    

}
.comment {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    font-size: large;
    padding: 3px;
    
}
.comment-user {
    font-weight: bold;
}
.time-passed {
    padding: 5px;
    color: #5d5c5c;
    font-size: small;
}
.post-foot {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    h1 {
        padding: 5px;
        font-size: medium;
        color:rgb(34, 92, 129);
    }
    border-top: solid 1px rgb(192, 192, 192);
}
.add-comment {
    gap:10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    h1 {
        font-size: small;
        color: #747171;
    }
}




.suggestions-panel {
    position: fixed;
    top: 80px;
    left: 65vw;
    background-color: #F4F4F4;
   padding-top: 0;
    min-height: 80vh;
    width: calc(35vw - 30px);
}
.suggestion {
    display: grid;
    grid-template-columns: 80px auto 80px;
    align-items: center;
    padding: 5px;
   
}
.suggestion-text {
    gap:5px;
    /* padding: 5px; */
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    grid-column: 2;
    justify-content:center;
    text-align: left;
    height: 100%;
    
    align-items: start;
    row-gap: 0px;
    
}
.profile-head,
.profile-text {
    margin: 0;
    padding: 0;
    text-align: left;
    width: 100%;
}
.suggestion-follow {
}
.profile-head {
    font-weight: bold;
    font-size: x-large;
}
.suggestion-follow-button {
    color: rgb(47, 148, 211)
}
.profile-text {
    font-size: large;
    color: #474646;

}
.suggestions-photo {
    border-radius: 50%;
    object-fit: cover;  
    grid-column: 1;
    padding: 5px;
}
.suggestions-for-you {
    font-size:x-large;
    
    color: #838282;
    margin: 10px;
}
.suggestions-profiles {
    padding: 5px;
}
main {
    width: calc(60vw - 40px);
    margin-top: 23px;
    margin-left: 5vw;
}

.stories-panel {
    min-height: 100px;
    margin-bottom: px;
    display: flex;
    gap: 10px;
    background-color: white;
    padding: 5px;
}
.story {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0;
    pad: 0;
    text-align: center;
    width: fit-content;
}
.story-photo {
border-radius: 50%;
object-fit: cover;
margin-bottom: 0;

border: solid 3px rgb(213, 212, 212);

}
.story-user {
    /* border: solid 1px black; */
    color: #2c2b2b;
    margin: 4px;
    font-size: small;
}



@media (max-width: 800px) {
    .suggestions-panel {
        display: none;
    }
    main {
        width: auto;
        margin-left: 2vw;
        margin-right: 2vw;

    }
}